html {
    background-color: lightgray;
}
h1 {
    text-align: center;
}
.flex-container {
    display: flex;
    background-color:rgb(12, 12, 12);
}
.flex-container > div {
    background-color: #afffff;
    color: rgb(69, 71, 71);
    width: 210px;
    margin: 8px;
    text-align: center;
    line-height: 75px;
    font-size: 22px;
}   