fieldset {
    background-color: rgb(253, 193, 202);
}

h1 {
    color: rgb(29, 43, 236);
    text-align: center;
}

body {
    background-color: rgb(194, 248, 252);
}

p {
    color: #dd0c0c;
}